<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.netkow.demo.kendo"
        versionCode = "1" 
        version   = "0.1">

    <!-- versionCode is optional and Android only -->

    <name>Hybrid App Sample</name>

    <description>
        This hybrid app serves as a demo of KendoUI and PhoneGap Build functionality.
    </description>

    <author href="http://www.netkow.com" email="matt.netkow@gmail.com">
        Matt Netkow
    </author>
	
	<gap:platform name="ios" />
	<gap:platform name="android" />
	<gap:platform name="winphone" />
	
	<preference name="phonegap-version" value="3.3.0" />
	<preference name="splash-screen-duration" value="3000" />
	<preference name="deployment-target" value="7.0" /> <!-- iOS 7.0 and up -->
	
		
	<icon src="icon.png" />
	<!-- iPhone / iPod Touch  -->
	<icon src="icons/ios/57x57-App-Icon.png" gap:platform="ios" width="57" height="57" />
	<icon src="icons/ios/60x60App-Icon.png" gap:platform="ios" width="60" height="60" />
	<icon src="icons/ios/72x72-App-Icon.png" gap:platform="ios" width="72" height="72" />
	<icon src="icons/ios/114x114-App-Icon.png" gap:platform="ios" width="114" height="114" />
	<icon src="icons/ios/120x120App-Icon.png" gap:platform="ios" width="120" height="120" />
	
	<!-- iPad -->
	<icon src="icons/ios/76x76App-Icon.png" gap:platform="ios" width="76" height="76" />
	<icon src="icons/ios/144x144App-Icon.png" gap:platform="ios" width="144" height="144" />
	<icon src="icons/ios/152x152App-Icon.png" gap:platform="ios" width="152" height="152" />
	
	<icon src="icons/android/36x36-Android-Icon-01.png" gap:platform="android" gap:density="ldpi" />
	<icon src="icons/android/48x48-Android-Icon-01.png" gap:platform="android" gap:density="mdpi" />
	<icon src="icons/android/72x72-Android-Icon-01.png" gap:platform="android" gap:density="hdpi" />
	<icon src="icons/android/96x96-Android-Icon-01.png" gap:platform="android" gap:density="xhdpi" />
	
	<gap:splash src="splash.png" />
	<gap:splash src="splash/ios/320X480-LAUNCH.png" gap:platform="ios" width="320" height="480" /> <!-- Regular iPhone4 -->
	<gap:splash src="splash/ios/640X960-LAUNCH.png" gap:platform="ios" width="640" height="960" /> <!-- Retina iPhone4 -->
	<gap:splash src="splash/ios/640x1136-Launch.png" gap:platform="ios" width="640" height="1136" /> <!-- iPhone5 -->
	<gap:splash src="splash/ios/768-1004-LAUNCH-PORTRAIT.png" gap:platform="ios" width="768" height="1004" /> <!-- iPad Portrait -->
	<gap:splash src="splash/ios/1024X748-LAUNCH-IPAD-LANDSCAPE.png" gap:platform="ios" width="1024" height="748" />
	
	<!-- retina iPad -->
	<gap:splash src="splash/ios/1536X2008-LAUNCH-IPAD-PORTRAIT.png" gap:platform="ios" width="1536" height="2008" />
	<gap:splash src="splash/ios/2048X1496-LAUNCH-IPAD-LANDSCAPE.png" gap:platform="ios" width="2048" height="1496" />
	
	<feature name="http://api.phonegap.com/1.0/network"/>

	<gap:plugin name="org.apache.cordova.inappbrowser" version="0.3.3" />         <!-- InApp Browser for Fitbit OAuth process -->
	<gap:plugin name="com.adobe.plugins.gaplugin" version="2.3.1" /> 			  <!-- Google Analytics -->

	<gap:plugin name="org.apache.cordova.console" version="0.2.7" />              <!-- For console.log -->
	<gap:plugin name="org.apache.cordova.network-information" version="0.2.7" />  <!-- For checking Internet connectivity -->
	<gap:plugin name="org.apache.cordova.dialogs" version="0.2.6" /> 			  <!-- For native dialog boxes -->
	
	<access origin="*"/>
</widget>